.flow-root.mt-10
  %ul{role: "list"}
    %li
      .relative.pb-8
        %span.absolute.top-4.left-4.-ml-px.h-full.bg-gray-400{"aria-hidden" => "true", class: "w-0.5"}
        .relative.flex.space-x-4
          %div
            %span.h-8.w-8.rounded-full.bg-sky-300.flex.items-center.justify-center.ring-8.ring-gray-900
              %svg.h-5.h-5.text-black{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
          .min-w-0.flex-1.flex.space-x-4{class: "pt-1.5"}
            %p.text-sm.text-gray-300
              Collecting requests

    %li
      .relative.pb-8
        %span.absolute.top-4.left-4.-ml-px.h-full.bg-gray-400{"aria-hidden" => "true", class: "w-0.5"}
        .relative.flex.space-x-4
          %div
            %span.h-8.w-8.rounded-full.bg-gray-600.flex.items-center.justify-center.ring-8.ring-gray-900.text-black
              %svg.h-4.w-4{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M16 3h5m0 0v5m0-5l-6 6M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
          .min-w-0.flex-1.flex.justify-between.space-x-4{class: "pt-1.5"}
            %div
              %p.text-sm.text-gray-500
                Sending request to care taker at 15:00

    %li
      .relative.pb-8
        .relative.flex.space-x-4
          %div
            %span.h-8.w-8.rounded-full.bg-gray-600.flex.items-center.justify-center.ring-8.ring-gray-900.text-black
              / Heroicon name: solid/check
              %svg.h-5.w-5{fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
                %path{d: "M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
          .min-w-0.flex-1.flex.justify-between.space-x-4{class: "pt-1.5"}
            %p.text-sm.text-gray-500
              Confirmation / Denial
