= turbo_stream_from('today')

.flex.flex-col.gap-y-20
  = turbo_frame_tag('todays-status-frame', src: status_today_path, 'data-controller': 'refresh-frame')

  = render RequestsSectionComponent.new(calendar_date: calendar_date, user_light_request: user_light_request)

  = render DeadlinesSectionComponent.new
