%div{ id: 'admin_request_deadlines' }
  %ul.bg-gray-800.rounded-lg.overflow-hidden.divide-y.divide-gray-900.text-gray-300
    = render Admin::RequestDeadlineListItemComponent.with_collection(request_deadlines)
