= form_with(model: [:admin, weekday_template], html: { class: 'w-full grid grid-cols-1 sm:grid-cols-4 gap-x-2 gap-y-2' }) do |f|
  = f.label :time, class: 'hidden'
  = f.select :time, time_select_options, { selected: selected_time }, { class: 'spotlight-form--select w-full sm:col-span-3' }
  = f.submit t('.actions.update_time'), class: 'spotlight-form--submit py-2 w-full'
